In [ ]:
import pandas as pd
import requests
import mysql.connector

In [ ]:
json = requests.get('https://volleypal.39-data.ru/get_objects/').json()
data = pd.json_normalize(json,"data")
data.head(1)

In [ ]:
mydb = mysql.connector.connect(
   user='test_user', password='test_user', host='68.198.26.23', port='3306', database='test_schema'
)
mycursor = mydb.cursor()

In [ ]:
if (mydb.is_connected()):
    print("Connected")
else:
    print("Not connected")

In [ ]:
#delete table
drop = "DROP TABLE test_table"
mycursor.execute(drop)

In [ ]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
#create table
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE test_table( shape VARCHAR(256), color VARCHAR(256), area NUMERIC )")

In [ ]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in data.columns.tolist()])

# Insert DataFrame recrds one by one.
for i, row in data.iterrows():
    sql = "INSERT INTO `test_table` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    mycursor.execute(sql, tuple(row))

In [ ]:
#delete table
drop = "DROP TABLE test_table"
mycursor.execute(drop)